.group-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-7) 0 var(--space-7) 0;
}
.page-title {
    margin-bottom: 50px;
}

/* Grid de Imagens */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3);
    width: 100%;
    max-width: 750px;
    margin-bottom: 60px;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    box-sizing: border-box;
}

.img-placeholder {
    border-radius: 20px; 
}

.action-buttons {
    display: flex;
    gap: var(--space-4);

}
@media (max-width: 760px) {
  .action-buttons {
    display: flex;
    flex-direction: column ;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  }
}